@{
	Layout = null;
}

<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
	<link rel="stylesheet" href="~/MyShop.styles.css" asp-append-version="true"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,600;10..48,800&family=Oswald:wght@300;500;700&display=swap" rel="stylesheet">
	<title>@ViewData["Title"]</title>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="registration my-5">
			@RenderBody();
		</div>
	</div>
</div>
</body>
</html>