<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>@ViewData["Title"] - Notes</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500;10..48,600;10..48,700;10..48,800&family=Oswald:wght@300;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/Notes.styles.css" asp-append-version="true"/>
</head>
<body>
<div class="container">
	<section class="navigation">
		<div class="sidenav">
			<div class="logo">
				<img src="~/images/label.png" asp-append-version="true" alt="" style="width: 100px">
			</div>
			<div class="nav-items">
				<a href="#">Profile</a>
				<a asp-action="AddNotes" asp-controller="Notes">Add new note</a>
				<a href="#">Settings</a>
				<a asp-action="Logout" asp-controller="Account">Logout</a>
			</div>
		</div>
	</section>

	<section class="main-content">
		@RenderBody();
	</section>
</div>

<footer class="border-top footer text-muted">
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>