@model ApplicationUser;
@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager; 

@{
	Layout = "_Layout";
	ViewData["Title"] = "Profile";
	var path = $"/images/{Model.PhotoPath ?? "images.png"}";
}

<section class="row imgSection text-center">
	<div class="col-8 text-center">
		<img src="@path" style="width: 200px;" alt="Logo">
		<div class="my-2">
			<h4 class="my-2 text-white">@Model.NameUser</h4>
		</div>
	</div>
</section>
<section class="row menuItems">
	<div class="col-3">
		<div class="leftMenu">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link" asp-action="MyBooks" asp-controller="Profile">My Books</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-controller="Profile" asp-action="EditProfile">Edit Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" asp-action="ChangePasswordView" asp-controller="Profile">Change Password</a>
				</li>
			</ul>
		</div>
	</div>
</section>