html {
    font-size: 14px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 60px;
}

.view-image{
    box-shadow: 0px 0px 10px black;
    border-bottom: 1px solid gray;
}

.ml-auto{
    margin-left: auto !important;
}

.category-car-list{
    margin-top: 20px;
}

.form-view{
    width: 400px;
}

.form-group input{
    border-radius: 50px;
}

.form-group label{
    padding: 10px;
}
.form-group button{
    width: 100%;
    border-radius: 50px;
}

.btn-form{
    display: flex;
    justify-content: center;
}

.login-view{
    margin-top: 50px;
}

.form-view{
    margin-top: 100px;
    margin-left: 20px;
}

.register-view{
    margin-top: 50px;
}

.form-view-register{
    margin-top: 50px;
    margin-right: 50px;
}

.bth-register{
    margin-top: 20px;
}

.register-image{
    margin-left: 50px;
}

.imageViewDetail{
    margin: 20px;
}

.imageViewDetail img{
    border-radius: 20px;
    box-shadow: 0px 0px 10px gray;
}

.Description{
    border-radius: 50px;
    height: 500px;
    max-width: 500px;
    background-color: rgba(188, 183, 183, 0.5);
}

.descr-p{
    padding-left: 10px;
    padding-right: 10px;
}

.Title{
    background-color: rgba(188, 183, 183, 0.5);;
    max-width: 500px;
    border-radius: 50px;
    height: 25px;
    margin-bottom: 20px;
}
.Title h5{
    padding-left: 10px;
}

.menu-detail{
    margin-left: 100px;
    margin-top: 50px;
    width: 500px;
    height: 300px;
}

.btn-menu-view{

}

.btn-menu-view a{
    padding:10px;
    border-radius: 50px;
}

.price-view{
    margin-bottom: 20px;
}

.price-view h2{
    border-bottom: 1px solid gray;
}

.info-announcement{
    display: inline-block;
}

.cardObject{
    margin-top: 50px;
}